[Desktop Entry]
Version=0.1.1
Type=Application
Name=ext4scanner
Comment=test ext4scanner
Exec=ext4scanner
Icon=/usr/share/icons/gnome/48x48/apps/file-manager.png
Categories=Utility;
Terminal=false
StartupNotify=true
StartupWMClass=ext4scanner

